<div class="large-12 columns">
  <h2> Settings </h2>
  <h4>Edit profile</h4>
</div>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <div class="large-4 columns">
        <%= f.input :name, label: false, :required => true, :autofocus => true, :input_html => { placeholder: "Name" } %>
        <%= f.input :email, label: false, :required => true, :input_html => { placeholder: "Email" } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
         <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, :autocomplete => "off", label: false, :required => false, :input_html => { placeholder: "New password" } %>
        <%= f.input :password_confirmation, :required => false, label: false, :input_html => { placeholder: "Confirm new password" }%>
        <%= f.input :current_password, :required => true, label: false, :input_html => { placeholder: "Current password to confirm your changes" }%>
        <% f.error :base %>

        <%= f.button :submit, "Update", :class => 'small button' %>
        <%= link_to 'Cancel', root_path, :class => 'small button' %>
      </div>

  <div class="large-12 columns">
    <h4>Delete My Account</h4>
    <p>Unhappy? <%= link_to "delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
  </div>
  <% end %>