<%= simple_form_for [@group, @topic] do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <%= f.input :name, label: false, :required => true, :input_html => { placeholder: "Name", :min => 10, :maxlength => 450 } %>
  <%= f.input :description, label: false, :required => true, :as => :text, :input_html => { placeholder: "Description", :rows => 5, :maxlength => 450 } %>
  <% f.error :base %>
</div>

  <div class="actions">
    <%= f.submit nil, :class => 'small button'%>
    <%= link_to 'Cancel', group_path(@group), :remote => true, :class => 'cancel_topic small button' %>
  </div>
<% end %>