<div class="container">
  <div class="span9">
	  <h1> Topics </h1>
		<p><%= link_to 'New topic', new_topic_path(@topic), :class => 'btn btn-primary'%></p>
  </div>
</div>

  <% @topics.each do |topic| %>
  <div class="row-fluid">
	  <div class="span4 well">
      <i class="icon-edit pull-right"><%= link_to 'Edit', edit_topic_path(topic) %> </i>
	      <h4><%= link_to topic.name, topic_path(topic) %> <span class="label label-warning"><%= topic.items.count %></span></h4>
      	<p><%= topic.description %></p>
    </div>
  <% end %>
  </div>

  <%= will_paginate @topics, :renderer => BootstrapPagination::Rails %>
</div>