<div class="row">
  <div class="small-4 columns">
    <h1> Topics </h1>
  </div>
  <div class="small-8 columns">
		<p><%= link_to 'New topic', new_topic_path(@topic), :class => 'small button'%></p>
  </div>
</div>

<div class="small-12 columns">
  <% @topics.each do |topic| %>
  <div class="small-4 columns content">
      <i class="pull-right"><%= link_to 'Edit', edit_topic_path(topic) %> </i>
	      <h4><%= link_to topic.name, topic_path(topic) %> <span class="label label-warning"><%= topic.items.count %></span></h4>
      	<p><%= truncate(topic.description, length: 95) %></p>
    </div>
  <% end %>

  <%= will_paginate @topics %>
</div>