<%= render 'groups/header' %>

<div class="row bottom-padding">
  <div class="small-12 columns">
  <% @group.topics.each do |topic| %>
  <div class="small-4 columns">
    <hr>
    <ul class="no-bullet">
      <li><%= link_to topic.name, group_topic_path(@group, topic), :class => 'button tiny' %><em> x<%= topic.items.count %></em></li>
      <li><p><%= truncate(topic.description, length: 95) %><p></li>
      </ul>
  </div>
  <% end %>
</div>

  <div class="small-12 columns">
    <hr>
    <%= link_to "Back to #{@group.name}", @group %>
  </div>

</div>