<div class="row-fluid content">
  <div class="container">
    <h2><%= @topic.name %></h2>
    <p class="lead"><%= @topic.description %></p>
  </div>

  <% @topic.items.each do |item| %>
  <div class="row-fluid">
    <div class="span4 well">
      <i class="icon-edit pull-right"><%= link_to 'Edit', edit_item_path(item) %> </i>
        <h4><%= link_to item.title, item.url %></h4>
        <p><%= truncate(item.description, length: 75) %></p>
    </div>
  <% end %>
  </div>

  <%= link_to 'Edit topic', edit_topic_path(@topic), :class => 'btn btn-primary'%>
  <%= link_to 'Cancel', topics_path, :class => 'btn' %>
</div>



