<%= render 'groups/header' %>

<div class="row">
  <div class="small-12 columns">
    <h4><%= @topic.name %> <small> <em><%= link_to 'Edit', edit_group_topic_path(@group, @topic) if @user.groups.include?(@group) %></em></small></h4>
      <%= @topic.description %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  <% @topic.items.each do |item| %>
    <div class="small-4 columns content">
      <h4><%= link_to item.title, item.url %> <small> <em><%= link_to 'Edit', edit_group_item_path(@group, item) if @user.groups.include?(@group) %></em></small></h4>
      <p><%= truncate(item.description, length: 75) %></p>
      <p><%= link_to 'comments', group_item_path(@group, item) if @user.groups.include?(@group) %></p>
    </div>
  <% end %>
  </div>
</div>

<div class="row bottom-padding">
  <div class="small-12">
  <%= render 'back' %>
  </div>
</div>