<div class="row">
  <div class="small-4 columns">
    <h1> Groups </h1>
  </div>
  <div class="small-8 columns">
    <p><%= link_to 'New group', new_group_path(@group), :class => 'small button'%></p>
  </div>
</div>

<div class="small-12 columns">
  <% @groups.each do |group| %>
  <div class="small-4 columns content">
      <i class="pull-right"><%= link_to 'Edit', edit_group_path(group) %> </i>
        <h4><%= link_to group.name, group_path(group) %></h4>
        <p><%= truncate(group.description, length: 95) %></p>
        <%= link_to 'Join', memberships_path(:user_id => current_user, :group_id => @group), :method => :post %>
  </div>
  <% end %>
</div>