<div class="span8">
  <h1> WDI Learn to Code </h1>
  <p class="lead"> A place to save and organise useful coding resources.</p>
</div>

<div class="span8">
  <div class="span4">
    <h4>Topics</h4>
    <p><a href="#topicModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal">New topic</a></p>
    <% @topics.each do |topic| %>
    <p><%= link_to topic.name, topic_path(topic) %> <span class="label label-warning"><%= topic.items.count %></span></p>
    <% end %>
  </div>
  <div class="span4">
    <h4>Links</h4>
    <p><a href="#itemModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal">New link</a></p>
    <% @items.each do |item| %>
    <p><%= link_to item.title, item.url %></p>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div id="itemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="itemModalLabel">New link</h3>
  </div>
  <div class="modal-body">
    <p><%= render 'items/form' %></p>
  </div>
</div>

<div id="topicModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="topicModalLabel">New topic</h3>
  </div>
  <div class="modal-body">
    <p><%= render 'topics/form' %></p>
  </div>
</div>