<div class="row">
  <div class="small-4 columns">
    <h3 class="name"> WDI Learn to Code </h3>
  </div>
  <div class="small-8 columns">
    <h4 class="subheader"> A place to save and organise useful coding resources.</h4>
  </div>


</div>

<div class="row">
  <div class="small-2 columns side-nav">
    <div class="panel">
    <h3>Topics</h3>
    <%= link_to 'Create topic', new_topic_path(@topic), :class => 'tiny button' %>
      <ul class="no-bullet">
        <% @topics.each do |topic| %>
        <li><%= link_to topic.name, topic_path(topic) %></li>
      <% end %>
      </ul>
  </div>
</div>

<div class="small-9 columns">
  <h3> Items </h3>
  <%= link_to 'Add link', new_item_path(@item), :class => 'tiny button'%>
      <ul class="no-bullet inline-list">
      <% @items.each do |item| %>
        <div class="small-6 columns content">
          <li><%= link_to item.title, item.url %></li>
          <li><%= truncate(item.description, length: 95) %></li>
          <li><%= link_to 'comments', item_path(item) %> <span class="label"><%= item.comments.count %></span></li>
        </div>
        <li class="divider"></li>
      <% end %>
      </ul>
</div>

</div>

