<%= render 'header' %>

<div class="row">
  <div class="small-2 columns side-nav">
    <div class="panel">
    <h3>Topics</h3>
      <ul class="no-bullet">
        <% @group.topics.each do |topic| %>
        <li><%= link_to topic.name, group_topic_path(@group, topic) %></li>
      <% end %>
      </ul>
      <h3>Members</h3>
      <ul class="no-bullet">
        <% @group.users.each do |user| %>
        <li><%= link_to user.name, group_user_path(@group, user) %></li>
      <% end %>
      </ul>
  </div>
</div>

<div class="small-9 columns">
  <div class="small-6 columns">
    <h3> Links </h3>
  </div>
  <div class="small-6 columns">
    <%= link_to 'Add link', new_group_item_path(@group, @item), :class => 'button'%>
    <%= link_to 'Create topic', new_group_topic_path(@group, @topic), :class => 'button' %>
  </div>
      <ul class="no-bullet">
      <% @group.items.each do |item| %>
        <div class="small-6 columns content">
          <li><%= link_to item.title, item.url %></li>
          <li><%= truncate(item.description, length: 95) %></li>
            <ul class="no-bullet inline-list">
              <li><%= link_to 'comments', group_item_path(@group, item) %></li>
              <li><%= link_to item.topic.user.name, group_user_path(@group, item.topic.user), :class => 'tiny button' %></li>
              <li><%= link_to item.topic.name, group_topic_path(@group, item.topic), :class => 'tiny button' %></li>
            </ul>
        </div>
        <li class="divider"></li>
      <% end %>
      </ul>
</div>

</div>

