<%= render 'header' %>

<% if @group.topics.empty? %>
  <%= render 'empty_message' %>
<% else %>

<div class="row bottom-padding">
  <table>
  <thead>
    <tr>
      <th>Links</th>
      <th width="300">About</th>
      <th width="100">Comments</th>
      <th width="150">Topics</th>
      <th width="150">Members</th>
    </tr>
  </thead>
  <tbody>
    <% @group.items.reverse.each do |item| %>
    <tr>
      <td><%= link_to item.title, [@group, item] %></td>
      <td><%= truncate(item.description, length: 95) %></td>
      <td class="center"><%= link_to item.comments.count, group_item_path(@group, item) %></td>
      <td><%= link_to item.topic.name, group_topic_path(@group, item.topic), :class => 'tiny button' %></td>
      <td><%= link_to item.topic.user.name, group_user_path(@group, item.topic.user), :class => 'tiny button' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>