<div class="container-fluid">
<div class="span12">
  <h1> WDI Learn to Code </h1>
  <p class="lead"> A place to save and organise useful coding resources. <%= link_to 'Add link', new_item_path(@item), :class => 'btn btn-large btn-primary'%> <%= link_to 'Create topic', new_topic_path(@topic), :class => 'btn btn-large btn-primary'%></p>
</div>

  <div class="span3 left-col">
    <h4>Topics</h4>
    <% @topics.each do |topic| %>
    <p><%= link_to topic.name, topic_path(topic) %> <span class="label label-warning"><%= topic.items.count %></span></p>
    <% end %>
  </div>
  <% @items.each do |item| %>
  <div class="row-fluid">
    <div class="span3 well">
      <i class="icon-edit pull-right"><%= link_to 'Edit', edit_item_path(item) %> </i>
        <h4><%= link_to item.title, item.url %></h4>
        <p><%= truncate(item.description, length: 95) %></p>
        <p><%= link_to 'comments', item_path(item) %> <span class="label label-warning"><%= item.comments.count %></span></p>
    </div>
  <% end %>
  </div>
</div>