<div class="row">
<div class="small-12 columns">
  <div class="small-4 columns">
    <h2><%= @user.name %></h2>
  </div>
  <div class="small-8 columns">
    <div class="small-8 columns">
      <ul class="no-bullet pull-right">
        <li>Created <%= @user.topics.count %> topics</li>
        <li>Posted <%= @user.items.count %> items</li>
      </ul>
    </div>
    <div class="small-4 columns">
      <ul class="no-bullet pull-right">
        <li>Posted <%= @user.comments.count %> comments</li>
        <li>Belongs to <%= @user.memberships.count %> group</li>
      </ul>
    </div>
  </div>
</div>
<hr>

    <% if @user.groups.empty? %>

    <div class="row bottom-padding">
      <div class="small-12">
        <p class="lead">You haven't joined any groups or posted anything yet.</p>
        <p><%= link_to 'Join a group now', groups_path, :class => 'button' %></p>
      </div>
    </div>

    <% else %>

<div class ="row">

    <div class="small-3 columns">
      <% @groups.each do |group| %>
      <p><%= link_to group.name, group_path(group) %></p>
    <% end %>
    </div>

    <div class="small-3 columns">
      <% @user.topics.each do |topic| %>
      <p><%= link_to topic.name, group_topic_path(topic.group.slug, topic) %></p>
    <% end %>
    </div>

    <div class="small-3 columns">
      <% @user.items.each do |item| %>
      <p class><%= link_to item.title, group_item_path(item.topic.group.slug, item) %></p>
      <% end %>
    </div>

    <div class="small-3 columns">
      <% @user.items.each do |item| %>
      <p><% item.comments.each do |comment| %></p>
      <p class="comments"><%= comment.content %></p>
      <%= link_to item.title, group_item_path(item.topic.group.slug, item), :class => 'tiny button' %>
      <hr>
      <% end %>
      <% end %>
    </div>

  <% end %>