<div class="row-fluid content">
  <div class="container">
    <h2><%= @user_name %></h2>
    <p>Created <%= @user_topics.count %> topics</p>
    <p>Posted <%= @user_items.count %> links</p>
    <p>Posted <%= @user_comments.count %> comments</p>
    <p>Belongs to <%= @user_memberships.count %> group</p>
  </div>
</div>



