<div class="large-12 columns">
  <h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <div class="large-4 columns">
      <%= f.input :email, label: false, :required => true, :autofocus => true, :input_html => { placeholder: "Email", } %>
      <%= f.input :password, label: false, :required => true, :input_html => { placeholder: "Password" } %>
      <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end %>
      <% f.error :base %>

      <%= f.button :submit, "Sign in", :class => 'small button' %>
    </div>
<% end %>

<div class="large-12 columns">
  <%= render "devise/shared/links" %>
</div>
</div>