<%= render 'groups/header' %>

<div class="row">
  <div class="small-12 columns">
    <% @group.items.each do |item| %>
      <div class="small-4 columns">
        <ul class="no-bullet">
          <i class="pull-right"><%= link_to 'Edit', edit_group_item_path(@group, item) %> </i>
          <li><h4><%= link_to item.title, item.url %></h4></li>
          <li><p><%= truncate(item.description, length: 95) %><p></li>
            <ul class="no-bullet inline-list">
              <li><%= link_to 'comments', group_item_path(@group, item) %></li>
              <li><%= link_to item.topic.user.name, group_user_path(@group, item.topic.user), :class => 'tiny button' %></li>
              <li><%= link_to item.topic.name, group_topic_path(@group, item.topic), :class => 'tiny button' %></li>
            </ul>
          </ul>
      </div>
    <% end %>
  </div>

  <div class="small-12 columns">
    <%= link_to "Back to #{@group.name}", @group, :class => 'button' %>
  </div>

</div>