<div class="container">
  <div class="span9">
	  <h1> Links </h1>
			<p><%= link_to 'New link', new_item_path(@item), :class => 'btn btn-primary'%></p>
  </div>
</div>

  <% @items.each do |item| %>
  <div class="row-fluid">
	  <div class="span4 well">
      <i class="icon-edit pull-right"><%= link_to 'Edit', edit_item_path(item) %> </i>
	      <h4><%= link_to item.title, item.url %></h4>
      	<p><%= truncate(item.description, length: 75) %></p>
    </div>
  <% end %>
  </div>

  <%= will_paginate @items, :renderer => BootstrapPagination::Rails %>
</div>