  <div class="span6 well">
    <h4><%= link_to @item.title, @item.url %></h4>
    <p><%= @item.description %></p>
    <%= link_to 'Edit link', edit_item_path(@item), :class => 'btn btn-small btn-primary'%>
    <%= link_to 'Cancel', items_path, :class => 'btn btn-small btn-primary' %>
  </div>

  <div class="span4">
    <h4>Comments</h4>
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
</div>

