<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Scrap", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
        <li class="divider"></li>
        <li class="has-dropdown"><%= link_to 'Groups', groups_path %>
        <ul class="dropdown"><li class="title back js-generated">
          <% @groups.each do |group| %>
          <li><%= link_to group.name, groups_path(group) %></li>
          <% end %>
        </ul>

        <li class="divider"></li>
        <li class="has-dropdown"><%= link_to current_user.name, root_path %>
        <ul class="dropdown"><li class="title back js-generated">
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>