<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Tool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row-fluid">
    <header class="navbar">
    <%= render 'layouts/navigation' %>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </div>

</body>
</html>
